/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --orange-color: #fea62c;
  --lightblue-color: #2da3ab;
  --blue-color: #12386a;
  --primary-color: #fea62c;
  --secondary-color: #fea62c;
  --section-bg-color: #f5f5f5;
  --dark-color: #12386a;
  --p-color: #717275;

  --body-font-family: "DM Sans", sans-serif;

  --h1-font-size: 60px;
  --h2-font-size: 42px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --menu-font-size: 14px;
  --copyright-text-font-size: 16px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  letter-spacing: -2px;
}

h2 {
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: inherit;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: inherit;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: normal;
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section-hero ::selection,
.bg-warning ::selection {
  background: #f9d55c;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 30px;
}

.custom-border-radius {
  border-radius: 20px;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.small-title {
  text-transform: uppercase;
}

/*---------------------------------------
  CUSTOM ICON               
-----------------------------------------*/
.custom-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border: 3px solid var(--white-color);
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
}

.custom-icon::before,
.custom-icon::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.custom-icon::before {
  border: 3px solid transparent;
}

.custom-icon::after {
  border: 0 solid transparent;
}

.custom-icon:hover {
  border-color: transparent;
}

.custom-icon:hover::before {
  border-top-color: var(--primary-color);
  border-right-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  transition: border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.custom-icon:hover::after {
  border-top: 3px solid var(--primary-color);
  border-left-width: 3px;
  border-right-width: 3px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.play-icon::before {
  position: relative;
  left: 1px;
}

.services-card {
  font-weight: 102%;
  font-size: 105%;
  background: linear-gradient(to bottom, #ffb340, #ffb340, #ff9900) !important;
}

.mission-card {
  background: linear-gradient(to bottom, #ffb340, #ff9900) !important;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--secondary-color);
  border-radius: 100px;
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-bold);
  padding: 12px 24px;
}

.custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-bg-primary {
  background: var(--primary-color);
}

.custom-bg-primary:hover {
  background: var(--white-color);
  color: var(--dark-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  z-index: 9;
  right: 0;
  left: 0;
  background-color: var(--white-color);
}

.navbar-brand {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-nav .nav-link {
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.projects-detail-page .navbar-nav .nav-link.active:hover {
  color: var(--orange-color);
}

.footer-link {
  color: var(--p-color);
  font-weight: var(--font-weight-small);
}
.footer-link.active:hover {
  color: var(--orange-color);
}
.footer {
  color: var(--p-color);
  font-weight: var(--font-weight-small);
  padding-top: 15px;
}

.projects-detail-page .navbar-nav .nav-link.active {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--blue-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--blue-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.breadcrumb-item.active {
  color: var(--primary-color);
}

.logo {
  height: 55px;
  width: auto;
  padding-top: 0%;
  padding-bottom: 1px;
}

/*---------------------------------------
  SLIDE TEXT             
-----------------------------------------*/
.slide-text {
  margin-right: 5%;
  margin-bottom: 20%;
  text-shadow: 2px 2px 6px var(--blue-color);
}

---------------------------------------
  SITE
  HEADER
  -----------------------------------------*/
  .site-header {
  /* transition: transform 3s ease-out;
  transform: translateY(0); Start position */
  background: --orange-color;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*
.site-header.hidden {
  transform: translateY(-100%);  End position (upward) 
}*/

.site-header-icon {
  color: var(--dark-color);
}

.site-header .social-icon {
  text-align: right;
}

.img-responsive {
  display: none !important; /* Initially hide the image */
}

@media (max-width: 1200px) and (min-width: 991px) {
  .img-responsive {
    display: block !important; /* Display the image when screen width is between 991px and 1200px */
  }
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  position: relative;
  height: calc(100vh - 133px);
}

.section-hero {
  background-image: url("../assets/products/product-details-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: auto;
  padding-top: 180px;
  padding-bottom: 180px;
}

.section-hero::before {
  content: "";
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.7;
}

.section-hero-text {
  position: relative;
}

.carousel {
  padding-right: 0;
  padding-left: 0;
}

.hero-carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-image-wrap::before {
  content: "";
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.7;
}

.carousel-caption {
  z-index: 9;
  top: 32%;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 50%;
  margin-right: 12px;
  margin-left: 12px;
}

.carousel-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
  top: auto;
  bottom: 50px;
  opacity: 1;
  max-width: 80px;
}

.carousel-control-prev {
  left: auto;
  right: 70px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 70px;
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-image-wrap {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.about-image-info {
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px;
}

.about-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-thumb {
  background: var(--primary-color);
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 2%;
}

/*---------------------------------------
  SERVICES              
-----------------------------------------*/
.services {
  background: var(--section-bg-color);
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link span {
  color: var(--p-color);
  display: block;
  text-align: left;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border: 0;
  border-left: 7px solid var(--p-color);
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 30px;
  transition: all 0.3s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-left-color: var(--secondary-color);
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.nav-tabs .nav-link.active h3,
.nav-tabs .nav-link:focus h3,
.nav-tabs .nav-link:hover h3 {
  color: var(--primary-color);
}

/*---------------------------------------
  PROJECTS              
-----------------------------------------*/
.projects-thumb {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  transition: all 0.3s;
  cursor: pointer;
}

.projects-thumb-large {
  min-height: 356px;
}

.projects-thumb:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.projects-thumb:hover .projects-image {
  transform: scale(1.2);
}

.projects-thumb:hover .projects-title-wrap {
  padding-bottom: 30px;
}

.projects-thumb:hover .custom-btn,
.projects-btn-wrap .custom-btn:hover {
  background: var(--primary-color);
}

.projects-title-wrap {
  background: linear-gradient(to top, var(--dark-color), transparent 200%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 55px 25px 10px 25px;
  transition: all 0.2s;
}

.projects-small-title {
  color: var(--section-bg-color);
  text-transform: uppercase;
}

.projects-title {
  color: var(--white-color);
  font-size: 30px;
  padding-bottom: 6%;
  padding-right: 25%;
}

.projects-image {
  border-radius: 20px;
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.projects-thumb-large .projects-image {
  object-fit: cover;
  height: 100%;
}

.projects-btn-wrap {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.projects-btn-wrap .custom-btn {
  font-size: 30px;
  padding: 7.5px 15px;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/

.section-small-title {
  color: var(--lightblue-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-semibold);
  display: block;
}

/*---------------------------------------
  CONTACT INFO               
-----------------------------------------*/
.contact-thumb {
  position: relative;
  bottom: 140px;
  margin-bottom: -140px;
}

.contact-info {
  border-radius: 20px;
  padding: 40px;
  margin: 2%;
  height: 600px;
  background-color: var(--section-bg-color);
}

.google-map {
  border-radius: 20px;
  width: 100%; /* Make the map width 100% of its container */
  height: 300px; /* Set an initial height for the map */
  max-width: 100%; /* Ensure that the map doesn't exceed the width of its container */
  margin: 0; /* Remove any default margin that might affect responsiveness */
}

@media only screen and (max-width: 600px) {
  .google-map {
    height: 200px; /* Adjust the height for smaller screens if needed */
  }
}

.contact-icon {
  color: var(--primary-color);
  font-size: 22px;
}

.contact-icon-address {
  color: var(--primary-color);
  font-size: 20px;
}

.address {
  color: var(--blue-color);
  font-weight: 500;
}

.contact-container-wrap {
  background-color: var(--orange-color);
  padding-bottom: 120px;
}

.contact-section {
  background: var(--white-color);
}

.contact-form {
  background: var(--section-white-color);
  border-radius: var(--border-radius-medium);
}

.contact-form label {
  font-weight: var(--font-weight-semibold);
}

.google-map {
  display: block;
  border-radius: var(--border-radius-medium);
}

.custom-form .input-group {
  color: var(--blue-color);
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  border-radius: 0.25rem;
  margin-bottom: 24px;
  padding-left: 20px;
}

.custom-form .textarea-group label {
  margin-top: 13px;
}

.custom-form label {
  margin-right: 10px;
  margin-bottom: 0;
}

.custom-form .form-control {
  background-color: var(--white-color);
  box-shadow: none;
  border: 0;
  color: var(--p-color);
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  border-color: var(--secondary-color);
}

.custom-form button[type="submit"] {
  background: var(--blue-color);
  border: none;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--orange-color);
  border-color: transparent;
}

.contact-info-font-size {
  font-size: 22px;
  font-family: "Grotesk S SH", Arial, sans-serif;
}

.contact-info-font-size-address {
  font-size: 16px;
  font-family: "Grotesk S SH", Arial, sans-serif;
  font-weight: bolder;
}

/* Additional adjustments for responsiveness */
@media (max-width: 767px) {
  .custom-form .input-group {
    padding-left: 15px;
  }

  .custom-form .textarea-group label {
    margin-top: 10px;
  }

  .custom-form label {
    margin-right: 5px;
  }

  .custom-form .form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 575px) {
  .custom-form .input-group {
    padding-left: 10px;
  }

  .custom-form .textarea-group label {
    margin-top: 8px;
  }

  .custom-form label {
    margin-right: 3px;
    font-size: 12px;
  }

  .custom-form .form-control {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px; /* Further adjust font size for smaller screens */
  }

  .specialized-services {
    font-size: 100%;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

.site-footer {
  background: var(--orange-color);
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.site-footer .copyright-text {
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  text-align: center;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--white-color);
  border-radius: 20px;
  font-size: var(--copyright-text-font-size);
  color: var(--dark-color);
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  specialized services              
-----------------------------------------*/
.specialized-services {
  background-color: #f5f5f5;
  padding-left: 1%;
  color: rgb(40, 40, 40);
  font-size: 100%;
}

.specialized-services:hover {
  background-color: var(--orange-color);
  color: var(--blue-color);
  font-size: 110%;
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .projects-thumb-large {
    min-height: 416px;
  }

  .contact-info-font-size {
    font-size: 16px;
  }

  .specialized-services {
    font-size: 100%;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}

@media screen and (max-width: 1400px) {
  .projects-title {
    color: var(--white-color);
    font-size: 26px;
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 1280px) {
  .projects-title {
    color: var(--white-color);
    font-size: 22px;
    padding-bottom: 8%;
  }

  .contact svg {
    bottom: 0;
    margin-bottom: 0;
  }

  .contact-info-font-size {
    font-size: 19px;
  }

  .specialized-services {
    font-size: 100%;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}

@media screen and (max-width: 991px) {
  .projects-title {
    font-size: 40px;
    padding-bottom: 3%;
    padding-right: 18%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 14px !important;
  }

  .footer-link {
    font-size: 14px !important;
  }

  .section-padding {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .custom-btn {
    font-size: var(--copyright-text-font-size);
    padding: 8px 16px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .site-header .social-icon {
    text-align: left;
    margin-top: 10px;
  }

  .carousel-caption {
    width: 100%;
  }

  .about-thumb {
    padding: 30px;
  }

  .about-image {
    height: auto;
    margin-bottom: 24px;
  }

  .contact-container-wrap {
    padding-bottom: 50px;
  }

  /* .contact-form {
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 50px;
  } */

  .custom-block,
  .contact-form {
    padding: 30px;
  }

  .contact-thumb {
    bottom: 0;
    margin-bottom: 0;
  }

  .site-footer {
    text-align: center;
  }

  .contact-info-font-size {
    font-size: 18px;
  }

  .nav-tabs .nav-link {
    margin-right: 0;
    margin-left: 0;
    padding: 15px;
  }
  .footer-link {
    margin-right: 0;
    margin-left: 0;
    padding: 15px;
  }

  .specialized-services {
    font-size: 100%;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}

@media screen and (max-width: 480px) {
  .projects-title {
    font-size: 30px;
    padding-bottom: 3%;
    padding-right: 25%;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .contact-icon {
    font-size: 18px;
  }

  .site-header p {
    font-size: 14px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 40px;
  }

  .nav-tabs .nav-link {
    margin-right: 0;
    margin-left: 0;
    padding: 15px;
  }

  .contact-info {
    padding: 30px 25px;
  }
  .site-footer-wrap {
    flex-direction: column;
    text-align: center;
  }

  .copyright-text {
    padding-bottom: 10px;
    text-align: center;
  }

  .contact-info-font-size {
    font-size: 12px !important;
  }

  .specialized-services {
    font-size: 100% !important;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}

@media screen and (max-width: 1280px) {
  .contact-info-font-size {
    font-size: 15px;
  }

  .specialized-services {
    font-size: 100%;
  }

  .specialized-services:hover {
    font-size: 110%;
  }
}
@media only screen and (max-width: 768px) {
  .footer-link {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .footer {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .footer-link {
    font-size: 14px; /* Further reduce font size for even smaller screens */
  }
  .footer {
    font-size: 14px; /* Further reduce font size for even smaller screens */
  }
}

/* Footer styles */
.footer-link {
  color: var(--p-color);
  font-weight: var(--font-weight-small);
}

.footer-link.active:hover {
  color: var(--orange-color);
}

.footer {
  color: var(--p-color);
  font-weight: var(--font-weight-small);
  padding-top: 15px;
}

/* Responsive footer layout */
@media (max-width: 991px) {
  .footer .col-lg-4,
  .footer .col-lg-2,
  .footer .col-md-6 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer .col-sm-12 {
    text-align: center;
  }
}

.logo {
  height: 55px;
  width: auto;
  padding-top: 0;
  padding-bottom: 1px;
}

/* General styles */
body {
  background: var(--white-color);
  font-family: var(--body-font-family);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--primary-color);
}

@media (max-width: 991px) {
  .footer .col-md-6,
  .footer .col-md-4,
  .footer .col-md-2,
  .footer .col-sm-12 {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer .col-sm-12 {
    text-align: center;
  }
}

/* Base font size for copyright text */
.copyright-text {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .copyright-text {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .copyright-text {
    font-size: 12px;
  }
  .circle {
    margin-right: 0%;
  }
}

@media (max-width: 768px) {
  .copyright-text {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .copyright-text {
    font-size: 9px;
  }
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(108, 117, 125, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}

.circle:hover {
  background-color: var(--orange-color);
}

.circle svg {
  width: 18px;
  height: 18px;
  margin-bottom: 15%;
}
